<!-- About Section Begin -->
{% if section.settings.about_image != blank or section.blocks.size > 0 %}
  <section class="about spad">
    <div class="container">
      {% if section.settings.about_image != blank %}
        <div class="row">
          <div class="col-lg-12">
            <div class="about__pic">
              <img src="{{ section.settings.about_image | image_url }}" alt="">
            </div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        {% for block in section.blocks %}
          {% if block.type == 'about_item' %}
            {% assign title = block.settings.item_title %}
            {% assign description = block.settings.item_description %}
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="about__item">
                {% if title != blank %}
                  <h4>{{ title }}</h4>
                {% endif %}
                {{ description }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
<!-- About Section End -->

{% schema %}
{
  "name": "About Us Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "about_image",
      "label": "About Us Image"
    }
  ],
  "blocks": [
    {
      "type": "about_item",
      "name": "About Item",
      "settings": [
        {
          "type": "text",
          "id": "item_title",
          "label": "Item Title"
        },
        {
          "type": "textarea",
          "id": "item_description",
          "label": "Item Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Us Section"
    }
  ]
}
{% endschema %}
