<!-- Client Section Begin -->
{% if section.blocks.size > 0 %}
  <section class="clients spad">
    <div class="container">
      {% if section.settings.sub_title or section.settings.main_title %}
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              {% if section.settings.sub_title %}
                <span>{{ section.settings.sub_title }}</span>
              {% endif %}
              {% if section.settings.main_title %}
                <h2>{{ section.settings.main_title }}</h2>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        {% for block in section.blocks %}
          {% if block.type == 'client_details' %}
            {% assign client_logo = block.settings.client_logo %}
            {% assign client_link = block.settings.link %}
            {% if client_logo != blank %}
              <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="{{ client_link }}" class="client__item">
                  <img src="{{ client_logo | image_url }}" alt="">
                </a>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
<!-- Client Section End -->

{% schema %}
{
  "name": "Our Client Section",
  "tag": "section",
  "class": "our-client-section",
  "settings": [
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title"
    }
  ],
  "blocks": [
    {
      "type": "client_details",
      "name": "Our Clients",
      "settings": [
        {
          "type": "image_picker",
          "id": "client_logo",
          "label": "Client Logo"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Our Client Section"
    }
  ]
}
{% endschema %}
