<!-- Counter Section Begin -->
{% if section.blocks.size > 0 %}
  <section class="counter spad">
    <div class="container">
      <div class="row">
        {% for block in section.blocks %}
          {% if block.type == 'counter_details' %}
            {% assign counter_number = block.settings.counter_number %}
            {% assign number_suffix = block.settings.number_suffix %}
            {% assign counter_title = block.settings.counter_title %}
            {% if counter_number or counter_title %}
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                  {% if counter_number != blank %}
                    <div class="counter__item__number">
                        <h2 class="cn_num">
                            {{ counter_number }}{{ number_suffix }}
                          </h2>
                    </div>
                  {% endif %}
                  {% if counter_title != blank %}
                    <span> {{ counter_title }} </span>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
<!-- Counter Section End -->

{% schema %}
{
  "name": "Counter Section",
  "settings": [],
  "blocks": [
    {
      "type": "counter_details",
      "name": "Counter Details",
      "settings": [
        {
          "type": "text",
          "id": "counter_number",
          "label": "Counter Number"
        },
        {
          "type": "text",
          "id": "number_suffix",
          "label": "Number Suffix",
        },
        {
          "type": "text",
          "id": "counter_title",
          "label": "Counter Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Counter Section"
    }
  ]
}
{% endschema %}
