<!-- Map Begin -->
{% if section.settings.location %}
  <div class="map">
    {{ section.settings.location }}
  </div>
{% endif %}
<!-- Map End -->

{% schema %}
{
  "name": "Map Section",
  "settings": [
    {
      "type": "textarea",
      "id": "location",
      "label": "Location"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Map Section",
    }
  ]
}
{% endschema %}
